.dashboard {
    font-size: 16px !important;
    font-family: Poppins,sans-serif;
    font-weight: normal;
    color: #666;
}

.ui.dashboard.header {
    font-size: 16px !important;
    font-family: Poppins,sans-serif;
    font-weight: normal;
    color: #666;
}

.ui.gradient.card {
    margin-bottom: 24px;
    height: 204px;
}

.ui.gradient.card:hover {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}
